<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Songs Homepage - Welcome to My Music Store</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e59232f0a1.js" crossorigin="anonymous"></script>

    <style type="text/css">
    </style>
</head>
<body>
<header>
    <h1>Welcome to My Music Store</h1>
</header>
<div>
    <form th:method="GET" th:action="@{/listSongs?search=${search}}" th:object="${search}">
        <label>Enter text</label>
        <input type="text" name="search" value=""/>
        <input type="submit" value="Submit"/>
    </form>
</div>
<main>
    <a th:href="@{'/songs/add-song'}"
       class="btn btn-sm btn-info edit-product">
        Add Song
    </a>
    <h2>Choose a song:</h2>


    <form th:method="post" th:action="@{/artist}">
        <div th:each="song : ${songs}">
            <!-- Radio Button for Selecting a Track -->
            <input type="radio" name="trackId" th:value="${song.getTrackId()}" />
            <label th:text="'Title: ' + ${song.title} + ', Genre: ' + ${song.genre} + ', Release Year: ' + ${song.releaseYear} + ', Album Title: ' + ${song.album.getName()}"></label>

            <a th:href="@{'/songs/delete/{id}' (id=${song.getId()})}"
               class="btn btn-sm btn-danger">
                <i class="fa fa-trash">Delete</i>
            </a>

            <!-- Edit Button -->
            <a th:href="@{'/songs/edit-song/{id}' (id=${song.getId()})}" class="btn btn-sm btn-info">
                <i class="fa fa-edit">Edit</i>
            </a>

            <br />
        </div>
        <!-- Submit Button for the Main Form -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>



</main>
</body>
</html>